@import '../scss/abstracts/variables';
@import '../scss/abstracts/mixins';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', "sans serif";
}

.container {
    max-width: 1200px;
    min-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    height: 800px;
    text-align: center;
    background-image: url(../../images/header/comp.png);
    position: relative;
    background-size: cover;
    background-position: center;

}

.wraper {
    background-color: #27262A;
    height: 103px;

    @media (min-width: $tablet) {
        height: 118px;

    }

    @media (min-width: 993px) {
        background-color: black;
    }
}

// }

.header-menu {
    display: flex;
    flex-direction: column;

    position: relative;
    justify-content: space-around;
    height: 103px;

    .header-menu_wraper {
        display: flex;
        position: relative;
        justify-content: space-around;
        padding-top: 34px;


        @media (min-width: $tablet) {
            padding-top: 21px;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;

        }

        @media (min-width: $desktop) {
            padding-top: 31px;


        }
    }


    a {
        text-decoration: none;
    }


    ul {
        list-style: none;
        color: $color-primery;

    }

    .header-logo {
        display: flex;

        &:hover .header-logo_img {
            display: none;
        }

        &:hover .header-logo_img-color {
            display: block;
        }

    }
}

.header-logo_img-color {
    display: none;
}

.header-logo-text {
    display: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: $color-primery;
    text-transform: uppercase;
    padding-top: 14px;
    margin-left: 17px;

    &:hover {
        color: $color-white;
    }

    @media (min-width: $tablet) {
        display: flex;

    }

}

.header-nav {

    margin: 0 auto;
    padding-top: 23px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    @media (min-width: $tablet) {
        display: flex;

    }

    @media (min-width: $desktop) {
        position: absolute;
        top: 35px;
        right: 283px;
    }
}

.header-nav_list {

    opacity: 0;
    list-style: none;
    display: flex;
    align-items: center;

    @media (min-width: $tablet) {
        opacity: 1;
        gap: 47px;
    }
}

.header-nav_link {
    color: $color-white;

    @media (min-width: $tablet) {
        color: $color-primery;
        gap: 47px;
    }


    &:hover {
        color: $color-white;
    }
}

.header-menu_btn {
    background-color: $color-primery;
    color: $color-white;
    font-weight: 700;
    border-radius: 40px;
    padding: 11px 35px;

    font-size: 16px;
    line-height: 17px;
    border: none;
    cursor: pointer;

    &:hover {
        color: $color-primery;
        background-color: $color-white;
    }
}

.header-menu_burger {
    color: $color-white;
    border: none;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 3rem;
    background-color: #27262a;

    @media (min-width: $tablet) {
        display: none;

    }

}

.svg-menu_burger-clouse {
    opacity: 0;
    width: 42px;
    height: 40px;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #27262A;
}


.header_title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: $color-white;
    margin-top: 50px;

    @media (min-width: $tablet) {
        font-size: 72px;
        line-height: 72px;
        margin-top: 69px;
    }

    @media (min-width:$desktop) {
        font-size: 82px;
        line-height: 82px;
    }
}

.header_slogan {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $color-primery;
    margin: 19px 0 14px;

    @media (min-width: $tablet) {
        font-size: 24px;

    }

    @media (min-width: $desktop) {
        font-size: 30px;

    }
}

.header_product-version {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $color-lowgray;

}


.header-btn_download {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 29px;
    background: $color-primery;
    border-radius: 40px;
    color: $color-white;
    position: absolute;
    top: 96%;
    left: 0;
    right: 0;
    width: 290px;
    height: 45px;
    margin: auto;
    border: none;

    @media (min-width: $tablet) {
        width: 390px;
        height: 62px;
        font-size: 21px;
        line-height: 22px;
    }

    &:hover {
        color: $color-primery;
        background: $color-white;
        border: 2px solid #8D81AC;
    }
}