@import '../scss/abstracts/variables';
@import '../scss/abstracts/mixins';

.main-about-fork{
    background-image: url(../../images/main/about-fork.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top;
}
.main-about-fork_title{
    font-weight: 700;
font-size: 36px;
line-height: 48px;
color: #FFFFFF;
padding-top: 57px;
}
.main-about-fork_list-item-img{
    padding-top: 53px; 
}
.main-about-fork_list-item-text{
    font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
padding-top: 33px;
}

.main-about-fork_list{
    display: grid;
    row-gap: 45px;
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    align-items: flex-end;
    justify-items: center;
    column-gap: 10px;
    margin-bottom: 37px;
    // display: flex;
    // flex-wrap: wrap;
    // gap: 45px;


    @media (min-width: 481px) {
    //    display: flex;
    //  flex-wrap: wrap;
    //  gap: 60px;
    row-gap: 56px;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    margin-bottom: 68px;
     }
     @media (min-width: 993px) {
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        row-gap: 111px;
        margin-bottom: 119px;
}
}




.main-about-fork_list-item{
   list-style-type: none;
   max-width: 270px;
   @media (min-width: 481px) {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: center;
max-width: 340px;
//    max-width:335px;
// height: 220px;
}

// @media (min-width: 993px) {
//     background-color: black;
// }
}
.main-about-fork_description{
    font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #A291A5;
max-width: 887px;
margin-left: auto;
margin-right: auto;
position: relative;
&::after {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  bottom: -18.5px;
  margin: 0 auto;
  height: 2px;
  width: 88%;
  background-color: #645766;
}
}
